#container{
    margin: 20px auto;
    background-color: white;
    height: 300px;
    width: 700px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
}
#start{
    font-size: 24px;
    font-weight: bolder;
    height: 150px;
    border: 2px solid lightskyblue;
    background-color: lightgray;
    position: absolute;
    left: 300px;
    top: 50px;
}
#start:hover{
    border: 3px solid lightgreen;
    color: lightsalmon;
    background-color: lightgoldenrodyellow;
}
#question{
    height: 125px;
}
#question p{
    padding: 15px;
    font-size: 22px;
}
#choices{
    width: 480px;
    top: 125px;
    padding: 20px;
}
.choice{
    display: inline-block;
    width: 135px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
}
.choice:hover{
    border: 2px solid purple;
    font-weight: bold;
}
#timer{
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0px;
    text-align: center;
}
#counter{
    font-size: 40px;
    color: red;
    border: 1px solid grey;
    margin: 0px 0px 0px 20px;
}
#scoreContainer{
    margin: 20px auto;
    background-color: white;
    opacity: 0.8;
    height: 300px;
    box-shadow: 0px 5px 15px 0px;
    position: relative;
    display: none;
}
#scoreContainer p{
    position: absolute;
    display: block;
    top: 130px;
    left: 325px;
    font-size: 26px;
    font-weight: bold;
}

